html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  background-color: #d05c2e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: #a63f38 1px solid;
}

img {
  width: 40px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

header nav {
  background-color: #d05c2e;
  margin-top: 0;
  font-size: 1.125rem;
  color: #fff;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2em;
  text-decoration: none;
}

header li {
  padding: .53em 0;
  list-style-type: none;
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0;
}

a:hover {
  background-color: #a63f38;
}
